@import "bootstrap";


html, body{
    margin: 0px;
    padding: 0px;
}

.dash {
        z-index: 1;
        margin-top: -55px;
        /* margin-bottom: -30px; */
        background-size: cover;
        position: absolute;
        
        height: 100vh;
        width: 100%;
        background-image: url('../assets/dash.png');
        
        display: flex;
        justify-content: center;
        /* align-items: center; */
        background-attachment: fixed;
        overflow-y: auto;
        
    


}

#nav{
    display: flex;
    z-index:1000000;
    height: 55px;
    width: 100%;
    /* background-color: black;
    opacity: 0.6;
    filter:(opacity=60); */
    color: #E7DDF6;
    display: block;
    top: 0;
    left: 0;
    right:0;


}

form{
    opacity: 1.00;
}

.nav-item{
    opacity: 1.00;
    color: #E7DDF6;
}



div{
    display: block;
}


.card{
    display: flex;
    z-index:1000000;
    display: block;
    /* margin-top: 60px; */
}



.posts{
    display: flex;
    z-index:1000000;
    margin-top: 80px;
    width: 50%;

}
.navbar-default{
    transition:500ms ease;
    background:transparent;
}
.navbar-default.scrolled{
    background:#000;
}



html::-webkit-scrollbar {
    display: none;
  }